*{margin: 0; padding:0}
body {
    font-family: CeraProRegular;
    font-size: 32px;
}
.zone{position:absolute; left:0; top: 0; width: 1920px; height: 1080px; display: flex; align-items: center; justify-content: center }


.one{background-color: red;}
.two{background-color: green;}
.three{background-color: blue;}
.four{background-color: yellow;}

.line-1 {margin-top: 400px;position: absolute; height: 1px; background: black; width: 960px;}

.line-bg {background-image: url("./line.png"); background-repeat: no-repeat;}